
html {

box-sizing: border-box;
height = 100%;

}

*::before,*::after {

height: inherit;
padding: 0;
margin: 0

}

body{
    background-color: black;
    background: repeating-linear-gradient(60deg, transparent, transparent 19.99999999%, rgba(0,0,0,0.25) 19.99999999%, rgba(0,0,0,0.25) 25%) top left fixed, linear-gradient(to right, #222, #222 100%);
    background-size: 22px 12.5px, 100%;
}


.topnav {
border-top: 1px solid black;
border-bottom: 3px solid red;
left: 0;
top: 0;
z-index: 999;
position: fixed;
width: 100%;
height: 5%;
background-color: black;
}

.login {
width: 60%;
color: #fff;
padding: 14px 16px;
float: left;
marign-top: 5px;
}

.about {
width: 40%;
float: right;

padding: 14px 16px;
margin-top: -50px;

}

.about a {

padding: 5px 20px;
float right;
height: 10px;
font-style: italic;
color: red;
text-decoration: none;
}



.about a:hover {
background-color: white;
color: red;

}

.about a:active {

color: purple;

}

.login [type=text],[type=password] {

border: 3px solid red;

}


.main {
width=100%;
height: 100%;
magin: 0 auto;
display: block;
}

.header {
	width: 80%;
	height: 100%;
	margin: auto;
	margin-top: 0px;
}

.side {
text-align: center;
font-size: xx-large;
width: 10%;
height: 100%;
left: 0;
margin-top: -54%;
margin: left;
background: linear-gradient(320deg, rgb(79, 31, 42), rgb(32, 39, 93));
}

.side a {

color: white;

}

.text-slide {

width: 100%;
height: 5%;
margin-top: 55px;
background: linear-gradient(220deg, green, black, green);

}

.text-slide marquee {
font-style: italic;
font-size: xx-large;

color: white;

}



